.custom-width-100 {
    width: 100px;
}

.custom-width-150 {
    width: 150px;
}

.custom-width-200 {
    width: 200px;
}
.custom-width-500 {
    width: 500px;
}

.custom-width-50 {
    width: 50px;
}